<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="signin login">
    <div class="container">
        <div class="row">
            <div class="logo">
                <image src="megam-logo-signin.png" >
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
            <div class="container">
                <div class="row bottom-divider">
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>

            <div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
                <form action="/sessions" method="post" class="sign-form">
                    <div class="c_inline">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                    <i class="c_ico-excla"></i>
                                    <input type="text" name="email" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                    <i class="c_ico-excla"></i>
                                    <input type="password" name="password" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                                <div class="row">
                                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tour-btn">
                                        <span> <a href="signup" id="la-button"><u class="colr-bluegrey"></u>Create new account ?</a> </span>
                                    </div>
                                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right tour-btn">
                                        <span> <a  data-toggle="modal" href="#forgot_password"  class="pull-right"><u class="colr-denimblue"></u>Forgot password ?</a> </span>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tour-btn">

                                        <button class="btn btn-success btn-plain">
                                            <a href="/tour">Take a tour</a>
                                        </button>
                                    </div>
                                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right tour-btn">
                                        <button type="submit" class="btn btn-success btn-plain-green" data-remote="true">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="text-center login-social">
                                    Login with social media
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 social">
                                <ul class="list-inline text-center">
                                    <li>
                                        <a href="/auth/github" class="github icon" ></a>
                                    </li>
                                    <li>
                                        <a href="/auth/facebook" class="facebook icon"></a>
                                    </li>
                                    <li>
                                        <a href="/auth/google_oauth2" class="google icon"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </form>
            </div>

        </div>
        <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
            <div class="row">
                <p>
                    <a href="http://enixel.com/" target="_blank">Designed by Enixel</a><span class="pull-right"><a href="https://www.megam.io" target="_blank">Megam.io</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
